<div tabindex="0" class="e-card custom-profile-card mcard">
  <div class="col-md=12 " style="display: flex;">
    <div class="col-md-6">
      <h4 class="title detail-card-title">{{company?.name}}</h4>
    </div>

    <div class="col-md-6 e-crow" style="justify-content: flex-end; display: block; text-align: right">
      <img src="./assets/images/icon-pencil.svg" (click)="onEdit(company)">
      <img src="./assets/images/icon-delete.svg" (click)="onDelete(company)" class="e-card-icon">
      <img src="./assets/images/icon-impersonate.svg" (click)="onImpersonate(company)" class="e-card-icon">
    </div>
  </div>

  <div class="e-card-content details-card-content relative-position">
    <div class="col-md-12 relative-position" style="display: flex;right: 2.5em;">
      <div class="col-md-2" style="margin-right:2em;">
        <div class="logo-container">
          <img [src]="company?.imageUrl ? company?.imageUrl : './assets/images/testlogo.png'"
            [default]="'./assets/images/testlogo.png'" alt="Logo" class="logo" style="width:100%">
          <div class="middle">
            <button type="button" (click)="onCheckCanUplaod()"> Change </button>
          </div>
        </div>

      </div>
      <div class="col-md-10" style="position: relative; right: 34px;">
        <div class="col-md-12" style="display: flex; padding-right: 63px;">
          <div class="col-md-3">
            <p class="form-title-sm detail-type"> Company Type </p>
            <label class="form-title-content detail-label"> {{ company?.companyType }} </label>
          </div>
          <div class="col-md-3">
            <p class="form-title-sm detail-type"> Contract Type </p>
            <label class="form-title-content detail-label"> {{ company?.contractType }} </label>
          </div>
          <div class="col-md-6" style="max-width: 70%">
            <div class="row">
              <div class="col-md-6" style="max-width: 100% !important;">
                <p class="form-title-sm detail-type"> Point of Contact </p>
                <div style="width:27em;">
                  <label style="padding-right: 1em;" *ngFor="let contact of company?.pointsOfContact; let i = index"
                    class="form-title-content light-scheme detail-label"> {{ contact }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12" *ngIf="false" style="display: flex;" class="detail-card-values-set relative-position">
          <div class="col-md-3">
            <div class="count">136</div>
            <label class="form-title-content count-label">Files Uploaded</label>
          </div>
          <div class="col-md-3">
            <div class="count" style="padding-right: 50px;">23</div>
            <label class="form-title-content count-label">Terabytes Uploaded</label>
          </div>
          <div class="col-md-3">
            <div class="count">245</div>
            <label class="form-title-content count-label">Active Hours </label>
          </div>
          <div class="col-md-3">
            <div class="count">15</div>
            <label class="form-title-content count-label count-label">Active Users </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- UPLOAD MODAL -->
<app-modal #uploadModal type="upload" title="Upload Logo" (save)="onLogoSelected($event)">
</app-modal>