.logo-container {
  position: relative;
}

.logo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: contain;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.logo-container:hover .logo {
  opacity: 0.7;
}

.logo-container:hover .middle {
  opacity: 1;
}

.logo-container .middle button {
  background-color: #0097a9;
  color: white;
  font-size: 14px !important;
  border-radius: 2px;
  font-weight: normal;
  padding: 6px;
  cursor: pointer;
}
