<span style="padding-top:1rem;">
    <i (click)="selectView('tile')" style="cursor:pointer;">
      <img src="./assets/images/icon-tile-view.svg" [ngClass]="{'view-active': activeView === 'tile'}">
      <span class="vertical-line-grid" *ngIf="showListView"></span>
    </i>
    <i (click)="selectView('list')" *ngIf="showListView" style="cursor:pointer;">
      <img src="./assets/images/icon-list-view.svg" [ngClass]="{'view-active': activeView === 'list'}">
      <!-- <span class="vertical-line-grid" *ngIf="showTreeView"></span> -->
    </i>
  </span>
