.view-active {
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.vertical-line-grid {
  border-left:1.3px solid rgba(91, 127, 149, 0.25);
  padding-left: 9px;
  margin-left: 9px;
  position: relative;
  top: 2px;
}
