<div>
  <label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Error Messages </label>
</div>
<br>
<div>
  <app-list [dataSource]="errorMessages$ | async" allowSorting [columns]="columns" [allowGridPaging]="true">
  </app-list>
</div>