<br>
<div>
  <label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Cameras </label>
  <button *ngIf="canManageLiveStream" type="button" class="button-plus float-right add-configuration-button-qa"
    (click)="addCamera()">
    Add Camera
  </button>
</div>
<br>

<app-list *ngIf="canManageLiveStream" [dataSource]="cameras$ | async" [columns]="columns" [allowGridPaging]="true"
  [allowSearch]="true">
</app-list>

<label *ngIf="!canManageLiveStream" class="form-label" style="margin: 8px 0px 0px 0px"> Please configure the "Connection
  String" for this company to continue. </label>

<!-- #region Confirm Delete -->
<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="removeCamera()">
</app-modal>
<!-- #endregion -->

<!-- #region Dialog -->
<ejs-dialog #cameraModal [visible]="false" [width]='1100' isModal="true">
  <ng-template #content>
    <form [formGroup]="cameraForm">
      <div class="dialog-header-container">
        <img (click)="closeDialog()" src="./assets/images/dialog-close.svg" />
        <label class="dialog-title"> {{isEdit? 'Edit camera': 'Add New Camera'}} </label>
        <hr><br>
      </div>
      <div class="dialog-content">
        <div class="row pt-2">
          <div class="col-md-3">
            <label class="media-label pt-2 custom-inline"> Name: </label>
          </div>
          <div class="col-md-8">
            <input class="form-control custom-form-control" type="text" placeholder="e.g Key"
              [ngClass]="{'is-invalid': (cameraForm.get('name').touched || cameraForm.get('name').dirty) && !cameraForm.get('name').valid }"
              formControlName="name">
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter a name. </h5>
            </span>
          </div>
        </div>
        <br>

        <div class="row pt-2">
          <div class="col-md-3">
            <label class="media-label pt-2 custom-inline"> Source: </label>
          </div>
          <div class="col-md-8">
            <input class="form-control custom-form-control" type="text" placeholder="e.g Value"
              [ngClass]="{'is-invalid': (cameraForm.get('source').touched || cameraForm.get('source').dirty) && !cameraForm.get('source').valid }"
              formControlName="source">
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter a valid URL. </h5>
            </span>
          </div>
        </div>
        <br>

        <div class="row pt-2">
          <div class="col-md-3">
            <label class="media-label pt-2 custom-inline"> Asset: </label>
          </div>
          <div class="col-md-8">
            <ejs-dropdownlist class="form-control custom-form-control" [dataSource]='livestreamAssets$ | async'
              placeholder='Select an Asset' [fields]="lookupFields" formControlName="asset" [ngClass]="{
              'is-invalid': cameraForm.get('asset').touched && cameraForm.get('asset').dirty && !cameraForm.get('asset').valid
            }">
            </ejs-dropdownlist>
            <span class="invalid-feedback">
              <h5 class="form-description"> Please select an asset. </h5>
            </span>
          </div>
        </div>
        <br>

        <div class="row pt-2">
          <div class="col-md-3">
            <label class="media-label pt-2 custom-inline"> Group: </label>
          </div>
          <div class="col-md-8">
            <ejs-dropdownlist class="form-control custom-form-control" [dataSource]='livestreamGroups$ | async'
              placeholder='Select a Group' [fields]="lookupFields" formControlName="group" [ngClass]="{
              'is-invalid': cameraForm.get('group').touched && cameraForm.get('group').dirty && !cameraForm.get('group').valid
            }">
            </ejs-dropdownlist>
            <span class="invalid-feedback">
              <h5 class="form-description"> Please select a group. </h5>
            </span>
          </div>
        </div>
        <br><br>

        <div class="row">
          <div class="col-md-3">
            <label class="media-label pt-2 custom-inline"> Location: </label>
          </div>
          <div class="col-md-8">
            <div class="directory-container" *ngIf="isDestinationSelected">
              <button class="file-upload-button" (click)="changeDestination()"> Change </button>
              <div class="directory-title-container">
                <span class="file-upload-label">Destination Folder Title:</span>
                <div>
                  <span class="form-info-sm"> {{ directoryPath }} </span>
                </div>
              </div>
            </div>
            <ejs-treegrid #treegrid [ngStyle]="{'display': !isDestinationSelected ? 'block' : 'none'}"
              [dataSource]='data | async' [treeColumnIndex]='0' parentIdMapping='parentId'
              (dataStateChange)="dataStateChange($event)" (rowSelected)="rowSelected($event)" idMapping='id' hasChildMapping='hasChild'
              [allowSorting]="true" (queryCellInfo)='addFolderIcon($event)'>
              <e-columns>
                <e-column field='name' headerText='Name'></e-column>
              </e-columns>
            </ejs-treegrid>
          </div>
        </div>
        <br><br>

        <div class="text-center form-group">
          <button class="button-round" (click)="saveCamera()" [disabled]="!cameraForm.valid || !cameraForm.dirty || !currentDirectoryId">
            SAVE CHANGES
          </button>
        </div>
        <br>
      </div>
    </form>
  </ng-template>
</ejs-dialog>
<!-- #endregion -->
