<nav id="top-nav" class="navbar navbar-expand-custom justify-content-end flex-nowrap navbar-dark">
  <ul class="navbar-nav flex-row">
    <div *ngIf="notifyStatus" class="notify-alert"></div>
    <li class="nav-item" (click)="navigateToNotifications()">
      <img id="notification-icon" src="./assets/images/icon-no-notification.png" />
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle" href="#" id="display-name" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{ (currentUser$ | async)?.displayName || 'Unknown' }} </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="display-name">
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</nav>
