#display-name {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    color: #033b5c;
    bottom: 6px;
    position: relative;
}

#notification-icon {
    width: 19.2px;
    padding-bottom: 5px;
}

.dropdown-menu {
    min-width: auto !important;
}

.divider {
    border-left: 1px solid #9b9b9b;
    height: 21.8px;
}
.notify-alert {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #d0021b;
  position: relative;
  left: 22%;
}

@media (max-width:938px) {
    .dropdown-menu-right {
        right: 8em;
    }
}

@media (min-width: 938px) {
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .dropdown-menu-right {
        right: 8em;
    }
}

@media screen and (min-width: 1024px) {
    /* this code will be in effect from 1024px width and up */
    #top-nav {
        padding-right: 1.7em;
        padding-left: 1em;
    }
    .dropdown-menu-right {
        right: 8em;
    }
}

@media screen and (min-width: 1280px) {
    /* this code will be in effect from 1280px width and up */
    #top-nav {
        padding-right: 7.7em;
        padding-left: 7em;
    }
    .dropdown-menu-right {
        right: 8em;
    }
}

.navbar-expand-custom .navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-menu-right {
    padding: 0px;
    margin-top: 0px;
    top: 4em;
}

.dropdown-menu-right .dropdown-item {
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    padding: .65rem 1.5rem;
    color: #033b5c;
    text-align: center !important;
}

.dropdown-menu-right .dropdown-item:hover, .dropdown-menu-right .dropdown-item:active {
    background-color: #eaf1f2;
    color: #033b5c;
}

#top-nav {
    background-color: #FFFFFF;
    padding-top: 1.563em;
}

#top-nav ul li {
    margin-left: 18.7px;
}
