#buttons-container.center {
  text-align: center;
}

#buttons-container.right {
  float: right;
}

#buttons-container > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

#buttons-container.bottom-0 > * {
  margin-bottom: 0px;
}

#buttons-container.right-spacing-10 > * {
  margin-right: 10px;
}

#buttons-container.right-spacing-20 > * {
  margin-right: 20px;
}

#buttons-container.right-spacing-30 > * {
  margin-right: 30px;
}

#buttons-container.left-spacing-10 > * {
  margin-left: 10px;
}

#buttons-container.left-spacing-20 > * {
  margin-left: 20px;
}

#buttons-container.left-spacing-30 > * {
  margin-left: 30px;
}