<div tabindex="0" class="e-card custom-profile-card" style="height: 297px !important;">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div (click)="onView(profile)" class="e-card-header-title e-crow" [ngClass]="{'custom-contact-color' : isNew,
                                                    'custom-title-color' : !isNew}">
        {{ isNew ? 'CREATE NEW' : profile?.name | uppercase }}
      </div>
      <div class="e-card-sub-title"></div>
    </div>
  </div>
  <div class="e-card-content relative-position" *ngIf="!isNew">
    <div style="display: block; margin: 0px auto; text-align: center; padding-bottom: 29px;" class="e-crow">
      <img src="./assets/images/icon-pencil.svg" (click)="onEdit(profile)">
      <img src="./assets/images/icon-delete.svg" (click)="onDelete(profile)" width="18" class="e-card-icon">
      <img src="./assets/images/icon-impersonate.svg" (click)="onImpersonate(profile)" width="25" class="e-card-icon">
    </div>
    <div (click)="onView(profile)" class="e-crow">
      <div class="company-detail">
        <p class="form-title-sm "> Company Type </p>
        <label class="form-title-content"> {{ profile?.companyType }} </label>
      </div>
      <div class="company-detail">
        <p class="form-title-sm"> Contract Type </p>
        <label class="form-title-content"> {{ profile?.contractType }} </label>
      </div>


      <div class="company-detail">
        <p class="form-title-sm"> Point of Contact </p>
        <label class="form-title-content custom-contact-color"> {{ profile?.pointsOfContact[0] }} </label>
      </div>
    </div>
  </div>

  <div class="e-card-content relative-position custom-add-container e-crow" *ngIf="isNew" (click)="onCreate($event)"
    style="text-align: center">
    <img src="../../../assets/images/icon-add.svg" class="e-card-add-icon">
  </div>
</div>