<app-breadcrumb [previousRoute]="previousRoute" [enableBackRouting]="true" (navigate)="onBack($event)"
  [hideStroke]="true"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <span class="form-label"> Reported By </span>
        <p class="form-control-label"> {{ notification?.reportedBy || 'N/A' }} </p>
      </div>
      <div class="col-md-6">
        <span class="form-label"> Subject </span>
        <p class="form-control-label"> {{ notification?.subject || 'N/A' }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="form-label"> Email </span>
        <p class="form-control-label"> {{ notification?.email || 'N/A' }} </p>
      </div>
      <div class="col-md-6">
        <span class="form-label"> Follow-Up Permitted </span>
        <p class="form-control-label"> {{ notification?.isFollowUp ? 'Yes' : 'No' }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="form-label"> Date </span>
        <p class="form-control-label"> {{ notification?.date | date: 'short' || 'N/A' }} </p>
      </div>
      <div class="col-md-6">
        <span class="form-label"> # Attachments </span>
        <p class="form-control-label"> {{ notification?.attachmentUrls?.length || 0 }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="form-label"> Region </span>
        <p class="form-control-label"> {{ notification?.region || 'N/A' }} </p>
      </div>
      <div class="col-md-6">
        <span class="form-label"> Availability </span>
        <p class="form-control-label">
          {{ notification?.availabilityText || 'N/A' }}
        </p>
      </div>
    </div>
    <div class="row" *ngIf="notification?.isResolved">
      <div class="col-md-6">
        <span class="form-label"> Resolved By </span>
        <p class="form-control-label"> {{ notification?.resolvedBy || 'N/A' }} </p>
      </div>
      <div class="col-md-6">
        <span class="form-label"> Date Resolved </span>
        <p class="form-control-label"> {{ notification?.dateResolved | date: 'short' || 'N/A' }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="form-label"> Description </span>
        <p class="form-control-label"> {{ notification?.description || 'N/A' }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="form-label"> Comment </span>
        <textarea *ngIf="!notification?.isResolved" #commentControl type="text" placeholder="Type here..."
          class="form-control" [value]="notification?.comment" (change)="addComment(commentControl.value)" rows="5">
        </textarea>
        <p *ngIf="notification?.isResolved" class="form-control-label"> {{notification?.comment }}</p>
      </div>
    </div>
    <div>
      <app-buttons *ngIf="!notification?.isResolved" [buttons]="buttons" spacing="30"></app-buttons>
    </div>
  </div>
  <div class="col-md-4 attachment-scroll">
      <span class="form-label"> Attachments </span>
    <div style="margin-bottom: 18px" *ngFor="let attachment of notification?.attachmentUrls; let i = index">
      <!-- <div class="card nodification-card">
        <img class="card-img-top nodification-img" [src]="attachment.documentUrl" alt="">
      </div> -->
      <span class="notification-attachment-text" (click)="downloadAttachment(attachment)">  {{attachment.documentName}}</span>
    </div>
  </div>
</div>

<app-modal #confirmModal type="confirm" title="Confirm Action" [message]="verifyModalText" (yes)="markAsResolved()"
  [modalPosition]="modalPosition">
</app-modal>
