<span *ngIf="showTotal">
  <label class="c-toolbar-label"> {{ totalText | uppercase }}: {{ totalValue }} </label>
</span>

<span class="float-right" style="height: 27px;" *ngIf="toolbar">
  <div
    *ngIf="!showStatusIcons"
    [ngStyle]="{ 'margin-top': topMargin ? topMargin + 'px' : '' }"
  >
    <span class="c-toolbar-label" *ngIf="!hideSelectedText">
      {{ selectionText }}:
    </span>
    <button
      *ngFor="let item of toolbar; let i = index"
      class="button-no-outline"
      [ngClass]="item.cssClass"
      (click)="item.action ? item.action() : toolBarEvent(i)"
      [disabled]="item.disabled"
    >
      {{ item.text }}
    </button>
  </div>
  <div *ngIf="showStatusIcons">
    <button
      *ngFor="let item of toolbar; let i = index"
      class="button-no-outline"
      [ngClass]="item.cssClass"
      (click)="item.action ? item.action() : toolBarEvent(i)"
      [disabled]="item.disabled"
    >
      {{ item.text }}
      <img
        *ngIf="item.icon || item.visible"
        [ngClass]="item.iconCssClass"
        [src]="item.icon || ''"
        width="18"
        height="18"
        style="margin-right: 4px; margin-bottom: 3px;"
      />
      <div style="display: inline-block;" *ngIf="item.toggle">
        <ejs-switch [checked]="true"></ejs-switch>
      </div>
    </button>
  </div>
</span>
