<div class="col-md-10" style="align-self: flex-end; position: relative;left: 7%;">
  <span class="float-right">
    <button class="button-plus add-new-user-button-qa" (click)="onCreate()">
      Create New
    </button>
  </span>
</div>
<div class="row profile-card-container">
  <div class="col-md-12">
    <app-list [dataSource]="companies$ | async" allowSorting [columns]="columns" [allowGridPaging]="true"
      [allowSearch]="true" (edit)="onView($event)"></app-list>
  </div>
</div>

<ejs-dialog #fieldDialog [visible]="false" [width]='700' [position]="modalPosition" isModal="true">
  <ng-template #content>
    <form [formGroup]="companyForm">
      <div class="dialog-header-container">
        <img (click)="closeDialog()" src="./assets/images/dialog-close.svg" />
        <label> {{ isEdit ? 'Edit Company': 'Create New Company' }} </label>
        <hr><br>
      </div>
      <div class="dialog-content">
        <div class="row pt-3">
          <div class="col-md-3">
            <label class="media-label pt-3"> Company Name: </label>
          </div>
          <div class="col-md-8">
            <input class="form-control custom-form-control" type="text" placeholder="e.g. Acme Inc."
              formControlName="name"
              [ngClass]="{'is-invalid': (companyForm.get('name').touched || companyForm.get('name').dirty) && !companyForm.get('name').valid }" />
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter a name. </h5>
            </span>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-md-3">
            <label class="media-label pt-3"> Company Type: </label>
          </div>
          <div class="col-md-8">
            <input class="form-control custom-form-control" type="text" placeholder="e.g. Oil & Gas"
              formControlName="companyType"
              [ngClass]="{'is-invalid': (companyForm.get('companyType').touched || companyForm.get('companyType').dirty) && !companyForm.get('companyType').valid }">
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter a company type. </h5>
            </span>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-md-3">
            <label class="media-label pt-3"> Contract Type: </label>
          </div>
          <div class="col-md-8">
            <input class="form-control custom-form-control" type="text" placeholder="e.g. Permanent"
              formControlName="contractType"
              [ngClass]="{'is-invalid': (companyForm.get('contractType').touched || companyForm.get('contractType').dirty) && !companyForm.get('contractType').valid }">
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter a contract type. </h5>
            </span>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-md-3">
            <label class="media-label pt-3"> Host Header: </label>
          </div>
          <div class="col-md-8">
            <input class="form-control custom-form-control" type="text" placeholder="e.g. www.company.com"
              formControlName="hostHeader"
              [ngClass]="{'is-invalid': (companyForm.get('hostHeader').touched || companyForm.get('hostHeader').dirty) && !companyForm.get('hostHeader').valid }">
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter a URL. </h5>
            </span>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-md-3">
            <label class="media-label pt-3"> Points of Contact: </label>
          </div>
          <div class="col-md-8">
            <div formArrayName="pointsOfContact" style="display: flex; width: 112%;"
              *ngFor="let contact of pointsOfContact.controls; let i = index"
              [ngStyle]="{'margin-top': i !== 0 ? '20px' : '2px'}">
              <div style="width: 100%;">
                <input placeholder="e.g. contact@mail.com" [formControlName]="i"
                  [ngClass]="{'is-invalid': (contact.touched || contact.dirty) && !contact.valid }"
                  class="form-control custom-form-control" type="email">
                <span class="invalid-feedback">
                  <h5 class="form-description"> Please enter a valid email address. </h5>
                </span>
              </div>
              <img src="./assets/images/highlight_remove.svg" [ngClass]="{'c-close-icon': i === 0}" class="image"
                (click)="removePointOfContact(i)">
              <br>
            </div>
            <br>
            <div class="text-center">
              <button class="button-plus add-new-user-button-qa" (click)="addPointOfContact()">
                Add Contact
              </button>
            </div>
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter points of contact. </h5>
            </span>
          </div>
        </div>
        <br><br><br>

        <div class="text-center form-group">
          <button class="button-round" [disabled]=" !companyForm.valid || !companyForm.dirty" (click)="saveChanges()">
            SAVE CHANGES
          </button>
        </div>
        <br>
      </div>
    </form>
  </ng-template>
</ejs-dialog>

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="removeCompany()"
  (no)="closeDialog()">
</app-modal>