<div id="overlay"></div>
<ejs-dialog #fieldDialog [visible]="true" [width]='500' class="e-custom-popup">
  <ng-template #content style="width: 636px!important;">
    <form [formGroup]="companyForm">
      <div>
        <img class="dialog-close" (click)="closeDialog()" src="./assets/images/dialog-close.svg" />
        <!-- <br /> -->
        <label class="dialog-title"> {{isEdit? 'Change Company Details': 'Create New Company'}} </label>
        <hr /><br />
      </div>
      <div class="row pt-3">
        <div class="col-md-3">
          <label class="media-label pt-3 custom-inline"> Company Name: </label>
        </div>
        <div class="col-md-8">
          <input class="form-control custom-form-control" type="text" placeholder="e.g Shell Ltd."
            formControlName="name"
            [ngClass]="{'is-invalid': (companyForm.get('name').touched || companyForm.get('name').dirty) && !companyForm.get('name').valid }" />
          <span class="invalid-feedback">
            <h5 class="form-description"> Please enter a company Name.</h5>
          </span>
        </div>
      </div>
      <br>

      <div *ngIf="canAddLogo" class="row pt-3">
          <div class="col-md-3" style="align-self: center;">
              <label class="media-label pt-3" style="padding-top: 0px !important;"> Company Logo: </label>
            </div>
          <div class="col-md-8">
              <span class="logo-margin" *ngIf="companyLogoSourceUrl">
              <img [src]="companyLogoSourceUrl" class="detail-card-logo">
              </span>
              <input type="file" #file style="display: none" (change)="onLogoSelected($event)"  formControlName="companyLogo"/>
            <button class="button-round button-square" (click)="addCompanyLogo()">
              {{ isLogoSelected ? 'Change File' : 'Browse'}}
            </button>
            <span class="invalid-feedback">
              <h5 class="form-description"> Attach company logo. </h5>
            </span>
          </div>
        </div>

        <br>

      <div class="row pt-3">
        <div class="col-md-3">
          <label class="media-label pt-3 custom-inline"> Company Type: </label>
        </div>
        <div class="col-md-8">
          <input class="form-control custom-form-control" type="text" placeholder="e.g Oil & Gas"
            formControlName="companyType"
            [ngClass]="{'is-invalid': (companyForm.get('companyType').touched || companyForm.get('companyType').dirty) && !companyForm.get('companyType').valid }">
          <span class="invalid-feedback">
            <h5 class="form-description"> Please enter a company type. </h5>
          </span>
        </div>
      </div>
      <br>

      <div class="row pt-3">
        <div class="col-md-3">
          <label class="media-label pt-3" style="padding-top: 11px !important;"> Contract Type: </label>
        </div>
        <div class="col-md-8">
          <input class="form-control custom-form-control" type="text" placeholder="e.g Permanent"
            formControlName="contractType"
            [ngClass]="{'is-invalid': (companyForm.get('contractType').touched || companyForm.get('contractType').dirty) && !companyForm.get('contractType').valid }">
          <span class="invalid-feedback">
            <h5 class="form-description"> Please enter a contract type. </h5>
          </span>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-3">
          <label class="media-label pt-3" style="padding-top: 11px !important;"> Connection String: </label>
        </div>
        <div class="col-md-8">
          <input class="form-control custom-form-control" type="text" placeholder="e.g Permanent"
            formControlName="connectionString">
          <span class="invalid-feedback">
            <h5 class="form-description"> Please enter a connection string. </h5>
          </span>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-3">
          <label class="media-label pt-3" style="padding-top: 11px !important;"> Host Header: </label>
        </div>
        <div class="col-md-8">
          <input class="form-control custom-form-control" type="text" placeholder="e.g Url"
            formControlName="hostHeader"
            [ngClass]="{'is-invalid': (companyForm.get('hostHeader').touched || companyForm.get('hostHeader').dirty) && !companyForm.get('hostHeader').valid }">
          <span class="invalid-feedback">
            <h5 class="form-description"> Please enter a Url. </h5>
          </span>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-3">
          <label class="media-label pt-3" style="padding-top: 30px !important;"> Points of Contact: </label>
        </div>
        <div class="col-md-8">
          <div formArrayName="pointsOfContact" style="display: flex; width: 112%; margin-top: 20px;"
            *ngFor="let contacts of pointsOfContact.controls; let i = index">
            <div style="width: 100%;">
              <input placeholder="e.g johndoe@gmail.com" [formControlName]="i"
                [ngClass]="{'is-invalid': (contacts.touched || contacts.dirty) && !contacts.valid }"
                class=" custom-form-control" type="email">
            </div>
            <img src="./assets/images/highlight_remove.svg" [ngClass]="{'c-close-icon': i === 0}" class="image"
              (click)="removePointOfContact(i)">
            <br>
          </div>
          <br>
          <div class="text-center" style="margin-right: 108px;">
            <button class="button-plus add-new-user-button-qa" (click)="addPointOfContact()">
              Add Contact
            </button></div>
          <span class="invalid-feedback">
            <h5 class="form-description"> Please enter points of contact. </h5>
          </span>
        </div>
      </div>
      <br>

      <br>
      <br>
      <div class="text-center form-group">
        <button class="button-round" [disabled]=" !companyForm.valid || !companyForm.dirty" type="button"
          (click)=" isEdit? updateCompany() : saveCompany()">
          {{isEdit? 'SAVE CHANGES': 'CREATE COMPANY'}}
        </button>
      </div>
      <br>
    </form>
  </ng-template>
</ejs-dialog>