<div class="row pt-3">
  <div class="col-md-4 pb-3" *ngFor="let menu of permissions; let i = index;">
    <ejs-checkbox [value]="menu.menuName" [checked]="menu.isPermitted" (change)="onCheckChange($event, i)"
      [label]="'Enable ' + menu.menuName">
    </ejs-checkbox>
  </div>
</div>
<app-buttons [buttons]="buttons" spacing="30"></app-buttons>