<ejs-dialog #modal [visible]='false' [width]='width' [position]="modalPosition" isModal="true">
  <ng-template #content>
    <!-- Title Section -->
    <div>
      <img class="dialog-close" src="./assets/images/dialog-close.svg" (click)="closeDialog()" />
      <!-- <br> -->
      <label class="dialog-title"> {{ title }} </label>
      <hr><br>
    </div>
    <!-- Content -->
    <div [ngSwitch]="type">
      <div *ngSwitchCase="'upload'" style="padding: 0 16px">
        <input type="file" id="file" accept="image/*" #file style="display: none" (change)="onFileChosen()" />
        <button type="button" class="file-upload-button" (click)="chooseFile()">
          {{ fileSelectionButtonText }}
        </button>
        &nbsp;
        <span class="file-upload-label"> {{ selectedFile?.name }} </span>
        <br>
        <button id="save-button" class="button-round" [disabled]="!selectedFile" (click)="onUpload()">
          UPLOAD
        </button>
        <br>
      </div>
      <div *ngSwitchDefault>
        <div class="text-center form-group">
          <span id="confirm-message">
            <label> {{ message }} </label>
          </span>
          <br><br>
          <app-buttons [buttons]="confirmButtons" spacing="30" (actions)="confirmButtonActions($event)">
          </app-buttons>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-dialog>