/* ListView */

.e-listview .e-list-item {
  background-color: #ffffff !important;
}

.e-listview .e-list-item:hover {
  background-color: #eaf1f2 !important;
}

#listview {
  max-height: 240px;
}

#save-button {
  width: 187px;
  height: 40px;
  margin: 20px auto;
  display: block;
}

/* Confirm */

#confirm-message {
  background: #fff;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

#confirm-message > label {
  line-height: 1.7em;
  margin-bottom: 0em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

#confirm-no {
  margin-left: 20px;
}

.detail-table {
  background: #fff;
}

.detail-table > tbody > tr:first-child > td > label {
  margin-top: 16px;
}

#detail-name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
  margin-bottom: 16px;
}

#detail-value {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0097a9;
  margin-left: 8px;
  margin-bottom: 16px;
}

/* SORT MODAL */

.sort-icon-round {
  border: 0.5px solid #0097a9 !important;
  padding: 6px !important;
  border-radius: 50% !important;
  margin-top: -4px;
}
