<div class="row toolbar">
  <div class="col-md-6" style="text-align: right;">
    <app-view></app-view>
  </div>
</div>

<app-company-profiles-tile-view *ngIf="viewType === 'tile'"></app-company-profiles-tile-view>
<app-company-profiles-list-view *ngIf="viewType === 'list'"></app-company-profiles-list-view>