<div id="container">
  <div id="body">
    <ejs-toast #toast [position]='toastPosition' showProgressBar='true' showCloseButton='true'></ejs-toast>

    <main id="main">
      <div class="row">
        <div class="col-md-3">
          <app-side-menu></app-side-menu>
        </div>
        <div class="col-md-9">
            <app-header></app-header>
          <div id="spinnerContainer"></div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
</div>