<br>
<div>
  <label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Type </label>
</div>  
<div class="row">
    <div class="col-md-4 col-sm-6" style="margin-top: auto;">
    <!-- <label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Type </label> -->
    <ejs-dropdownlist class="form-control custom-form-control e-form"
      [dataSource]='lookupTypes$ | async' [value]="selectedLookupType" (change)="onLookupTypeChanged($event)" placeholder='Lookups'>
    </ejs-dropdownlist>
  </div>
  <div class="pt-3 col-md-8 col-sm-6" style="display: flex; align-self: flex-end;">
      <div style="flex: auto;">
    <button type="button" class="button-plus float-right add-configuration-button-qa" (click)="addLookup()">
      Add Lookup
    </button>
  </div>
</div>
</div>
  <br>

<app-list [dataSource]="filteredLookups" [columns]="columns" [allowGridPaging]="true" [allowSearch]="true">
</app-list>

<!-- #region Confirm Delete -->

<app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage" (yes)="removeLookup()">
  
</app-modal>
<!-- #endregion -->

<!-- #region Dialog -->
<ejs-dialog #lookupModal [visible]="false" [width]='500' isModal="true">
  <ng-template #content>
    <form [formGroup]="lookupForm">
      <div class="dialog-header-container">
        <img (click)="closeDialog()" src="./assets/images/dialog-close.svg" />
        <label class="dialog-title"> {{isEdit? 'Edit lookup': 'Add New Lookup'}} </label>
        <hr><br>
      </div>
      <div class="dialog-content">
        <div class="row pt-2">
          <div class="col-md-3">
            <label class="media-label pt-2 custom-inline"> Description: </label>
          </div>
          <div class="col-md-8">
            <input class="form-control custom-form-control" type="text" placeholder="e.g Description"
              [ngClass]="{'is-invalid': (lookupForm.get('description').touched || lookupForm.get('description').dirty) && !lookupForm.get('description').valid }"
              formControlName="description">
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter a description. </h5>
            </span>
          </div>
        </div>
        <br><br>
        
        <div class="row pt-2">
          <div class="col-md-3">
            <label class="media-label pt-2 custom-inline"> Value: </label>
          </div>
          <div class="col-md-8">
            <input class="form-control custom-form-control" type="number" placeholder="e.g Value"
              [ngClass]="{'is-invalid': (lookupForm.get('value').touched || lookupForm.get('value').dirty) && !lookupForm.get('value').valid }"
              formControlName="value">
            <span class="invalid-feedback">
              <h5 class="form-description"> Please enter a number. </h5>
            </span>
          </div>
        </div>
        <br>

        <div class="text-center form-group">
          <button class="button-round" (click)="saveLookup()" [disabled]="!lookupForm.valid || !lookupForm.dirty">
            SAVE CHANGES
          </button>
        </div>
        <br>
      </div>
    </form>
  </ng-template>
</ejs-dialog>