.list-group {
    padding-top: 1.813em;
}

/*region  */

.collection-record-container {
    width: 87% !important;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.collection-list-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 1.625em 0 0 1.9em;
}

.collection-list-item {
    padding-left: 1.9em;
    height: 37px;
    padding-top: 0.688em;
}

.collection-header {
    height: 22px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #5b7f95;
}

.collection-title {
    width: 114px;
    height: 22px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #033b5c;
}

.collection-title:hover {
    text-decoration: none;
}

.content .element-sidebar {
    width: 17px;
    text-align: center;
    position: absolute;
    right: 4.6em;
    top: 15.4em;
    bottom: 0;
}

.content .element-sidebar a {
    display: block;
    text-decoration: none;
    width: 11.7px;
    height: 11.5px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: center;
    color: #0097a9;
    padding: 0 0 32.5px 0;
}

.element-content {
    padding-top: 1.813em;
}

.content .element-sidebar a:hover {
    text-decoration: none;
}

.e-list-group-item {
    background-color: #eaf1f2;
    border-bottom: solid 1px rgba(91, 127, 149, 0.25) !important;
    border-top-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #5b7f95;
}

.e-list-item {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #033b5c;
}