<div class="side-menu-section" style="height: 100%;">
  <div class="border-right p-top" style="min-height: 70em">
    <div class="sb-title" style="padding-left: 25px;">OMV</div>
    <div class='list-group list-group-flush'>

      <button class="c-leftnav-menu p-left p-right c-leftnav" (click)="navigate(companiesLink)"
        [ngClass]="{'c-leftnav-menu-active': isCompanyProfileActive}">
        Company Profiles
      </button>
      <button *ngIf="false" class="c-leftnav-link c-leftnav p-left" (click)="navigate(settingsLink)"
        [ngClass]="{'c-leftnav-link-active': isSettingsActive}">
        Settings
      </button>

      <button class="c-leftnav-link c-leftnav p-left notifications" (click)="navigate(notificationsLink)"
        [ngClass]="{'c-leftnav-link-active': isNotificationsActive}">
        Notifications
      </button>
    </div>
  </div>
</div>