<!-- Toolbar -->
<div *ngIf="toolbar?.length > 0 || showToolbar">
  <app-toolbar [showTotal]="true" [totalText]="totalText" [exportText]="exportText" [totalValue]="totalRecordsCount"
    [selectionText]="toolbarSelectionText" [toolbar]="toolbar" [showStatusIcons]="showStatusIcons"
    (click)="toolBarEvent($event)" (export)="exportToExcel()" [allowExport]="allowExport">
  </app-toolbar>
</div>

<!-- Grid -->
<section style="display: flex; width: 100%; overflow-x: auto; margin: 0 5px 0 0">
  <ejs-grid #grid id="Grid" [dataSource]="dataSource" allowResizing= 'true' [allowSelection]="true" [allowSorting]="true"
    [allowFiltering]="allowFiltering" [allowPaging]="allowGridPaging" [pageSettings]="pageSettings"
    [toolbar]="toolbarOptions" [allowExcelExport]="true" [allowRowDragAndDrop]="allowRowDragAndDrop"
    [enableHover]="false" [selectionSettings]="selectionSettings" [filterSettings]="filterSettings"
    (dataBound)="onDataBound($event)" (rowDataBound)="rowDataBound($event)" (rowSelected)="rowSelectedGridEvent($event)"
    (rowDeselected)="rowDeselectedGridEvent($event)" (rowDrop)="onRowDrop($event)"
    (queryCellInfo)="onQueryCellInfo($event)" (actionBegin)="onActionBegin($event)"
    (actionComplete)="onActionComplete($event)">
    <e-columns>
      <ng-template #template ngFor let-column [ngForOf]="columns" let-i="index">
        <e-column [field]="column.field" [type]="column.type" [headerText]="column.headerText" [width]="column.width"
          *ngIf="
              !column.useAsLink &&
              !column.custom &&
              column.type !== 'date' &&
              column.type !== 'favorite' &&
              column.type !== 'icon' &&
              column.type !== 'buttons'
            " [textAlign]="column.textAlign" [visible]="column.visible" [allowSorting]="!column.ignoreSorting"
          [allowFiltering]="!column.ignoreFiltering"
          [filter]="column.filterType === 'checkbox' ? filter : filterSettings">
        </e-column>

        <!-- USE AS LINK -->
        <e-column *ngIf="column.useAsLink" [headerText]="column.headerText" [field]="column.field"
          [allowSorting]="!column.ignoreSorting" [allowFiltering]="!column.ignoreFiltering" [width]="column.width"
          [filter]="column.filterType === 'checkbox' ? filter : filterSettings">
          <ng-template #template let-data>
            <a *ngIf="data.routeLink" [routerLink]="data.routeLink" class="grid-link">
              <span [ngClass]="column.cssClass">
                {{
                    column.type === "date"
                      ? (data[column.field] | date: column.format)
                      : data[column.field]
                  }}
              </span>
            </a>
            <span *ngIf="!data.routeLink" (click)="
                  column.action ? column.action(data) : editGridEvent(data)
                " [innerHtml]="
                  column.type === 'date'
                    ? (data[column.field] | date: column.format)
                    : data[column.field]
                " [ngClass]="column.cssClass">
            </span>
          </ng-template>
        </e-column>

        <!-- CUSTOM COLUMN -->
        <e-column *ngIf="
              column.custom ||
              (column.type === 'date' && !column.useAsLink) ||
              column.type === 'icon' ||
              column.type === 'buttons' ||
              column.type === 'favorite'
            " [headerText]="column.headerText" [field]="column.field" [width]="column.width"
          [textAlign]="column.textAlign" [allowSorting]="!column.ignoreSorting"
          [allowFiltering]="!column.ignoreFiltering"
          [filter]="column.filterType === 'checkbox' ? filter : filterSettings">
          <ng-template #template let-data>
            <div [ngSwitch]="column.type">
              <div *ngSwitchCase="'buttons'" style="display: flex;">
                <div *ngFor="let button of column.buttons">
                  <div [ngSwitch]="button.type">
                    <div *ngSwitchCase="'icon'">
                      <img *ngIf="data[button.query] || button.visible" [width]="button.width || '18'"
                        (click)="button.action(data)" style="margin-right: 24px" class="item-edit-qa" [attr.alt]="
                          button.icon === 'edit'
                              ? 'Edit'
                                : button.icon === 'delete'
                              ? 'Delete'
                                : button.icon === 'impersonate'
                              ? 'Impersonate'
                              : ''
                        " [src]="
                            button.icon === 'edit'
                              ? './assets/images/icon-pencil.svg'
                                : button.icon === 'delete'
                              ? './assets/images/icon-delete.svg'
                                : button.icon === 'impersonate'
                              ? './assets/images/icon-impersonate.svg'
                              : ''
                          " />
                    </div>
                    <div *ngSwitchDefault>
                      <button *ngIf="data[button.query] || button.visible" class="button-no-outline button-grid-link"
                        [ngClass]="button.cssClass" (click)="button.action(data)" [ngStyle]="{
                            'margin-right': button.right
                              ? button.right + 'px'
                              : '24px'
                          }">
                        {{ button.text }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'date'">
                <span [ngClass]="column.cssClass">
                  {{
                      data[column.field]
                        | date: column.format || "MMM dd, yyyy  hh:mm:ss"
                    }}
                </span>
              </div>
              <div *ngSwitchCase="'favorite'">
                <input [ngClass]="column.cssClass" class="c-checkbox-star item-favorite-qa" type="checkbox" title=""
                  [checked]="data[column.field]" (click)="column.action(data)" />
              </div>
              <div *ngSwitchCase="'icon'">
                <img [ngClass]="data[column.field]" />
              </div>
              <div *ngSwitchDefault></div>
            </div>
          </ng-template>
        </e-column>

        <!-- DETAIL COLUMN -->
        <ng-template *ngIf="showDetail" #detailTemplate let-data>
          <div class="details">
            <div *ngFor="let detail of data.forms" class="col-sm-4 col-md-3">
              <div>
                <p class="detail-heading">{{ detail.label }} <i *ngIf="detail.isRequired">*</i></p>
                <p class="detail-info">{{ detail.value || 'N/A' }}</p>
              </div>
            </div>
          </div>
          <hr class="stroke">
          <div class="detail-buttons-group">
            <button class="button-no-outline" (click)="closeDetail($event)">
              Close
            </button>
            <button [hidden]="!data.canAdvance" [disabled]="data.disableAdvance" class="button-round-sm"
              style="letter-spacing: normal; margin-left: 20px" (click)="onAdvance(data)">
              {{ data.advanceButton }}
            </button>
          </div>
        </ng-template>
      </ng-template>

      <e-column *ngIf="showDetail" field="" headerText="" width="70">
        <ng-template #template let-data>
          <button class="button-no-outline button-collapse" (click)="collapse($event)"></button>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</section>
<br />

<!-- Pagination -->
<app-pager *ngIf="allowPaging" [pageCount]="pageCount" [pageSize]="pageSize" [currentPage]="currentPage"
  [totalRecordsCount]="totalRecordsCount" (change)="changePageEvent($event)"></app-pager>

<!-- Footer -->
<app-buttons [buttons]="footer" [position]="footerPosition" (actions)="footerActionsEvent($event)"></app-buttons>