
<ul class="nav" style= "margin: 0px">
  <li *ngFor="let tab of tabs">
    <a *ngIf="!tab.disabled" [ngClass]="{'active': currentRoute === tab.link || tab.isActive}"
      (click)="performNavigation(tab.link)">{{ tab.name }}</a>
    <a *ngIf="tab.disabled" class="tab-disabled">{{ tab.name }}</a>
  </li>
</ul>

