<br>
<!-- #region Web App -->
<label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Web Application </label>

<form [formGroup]="webForm">
  <div class="row pt-3">
    <div class="col-md-6">
      <label class="form-label"> Client Id </label>
      <input class="form-control custom-form-control" type="text" placeholder="Type here" formControlName="clientId"
        [ngClass]="{'is-invalid': (webForm.get('clientId').touched || webForm.get('clientId').dirty) && !webForm.get('clientId').valid }" />
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter Client Id. </h5>
      </span>
    </div>
    <div class="col-md-6">
      <label class="form-label"> Issuer Url </label>
      <input class="form-control custom-form-control" type="text" placeholder="Type here" formControlName="issuerUrl"
        [ngClass]="{'is-invalid': (webForm.get('issuerUrl').touched || webForm.get('issuerUrl').dirty) && !webForm.get('issuerUrl').valid }" />
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter Issuer Url. </h5>
      </span>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-md-6">
      <label class="form-label"> Auth Server Id </label>
      <input class="form-control custom-form-control" type="text" placeholder="Type here" formControlName="authServerId"
        [ngClass]="{'is-invalid': (webForm.get('authServerId').touched || webForm.get('authServerId').dirty) && !webForm.get('authServerId').valid }" />
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter Auth Server Id. </h5>
      </span>
    </div>
  </div>
  <br>
  <app-buttons [buttons]="webButtons" spacing="30"></app-buttons>
</form>
<!-- #endregion -->
<br><br>

<!-- #region Desktop App -->
<label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Desktop Application </label>

<form [formGroup]="desktopForm">
  <div class="row pt-3">
    <div class="col-md-6">
      <label class="form-label"> Client Id </label>
      <input class="form-control custom-form-control" type="text" placeholder="Type here" formControlName="clientId"
        [ngClass]="{'is-invalid': (desktopForm.get('clientId').touched || desktopForm.get('clientId').dirty) && !desktopForm.get('clientId').valid }" />
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter Client Id. </h5>
      </span>
    </div>
    <div class="col-md-6">
      <label class="form-label"> Issuer Url </label>
      <input class="form-control custom-form-control" type="text" placeholder="Type here" formControlName="issuerUrl"
        [ngClass]="{'is-invalid': (desktopForm.get('issuerUrl').touched || desktopForm.get('issuerUrl').dirty) && !desktopForm.get('issuerUrl').valid }" />
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter Issuer Url. </h5>
      </span>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-md-6">
      <label class="form-label"> Auth Server Id </label>
      <input class="form-control custom-form-control" type="text" placeholder="Type here" formControlName="authServerId"
        [ngClass]="{'is-invalid': (desktopForm.get('authServerId').touched || desktopForm.get('authServerId').dirty) && !desktopForm.get('authServerId').valid }" />
      <span class="invalid-feedback">
        <h5 class="form-description"> Please enter Auth Server Id. </h5>
      </span>
    </div>
  </div>
  <br>
  <app-buttons [buttons]="desktopButtons" spacing="30"></app-buttons>
</form>
<!-- #endregion -->