/* You can add global styles to this file, and also import other style files */

@import "./assets/css/material.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Viga&display=swap");
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.css";
@import "../node_modules/@syncfusion/ej2-angular-lists/styles/material.css";
.relative-position {
  position: relative;
}

/*#region TITLES*/

.form-title {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #033b5c;
}

.form-title-xl {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #033b5c;
}

.form-title-lg {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.14px;
  color: #033b5c;
}

.form-title-content {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.form-title-md {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #033b5c;
}

.form-title-sm {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
  margin-bottom: 0em !important;
}

.form-title-md-fade {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #5b7f95;
}

.form-info-sm {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.header-lg-source {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0px;
  letter-spacing: normal;
  text-align: center;
  color: #033b5c;
}

.step-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #033b5c;
}

/*#region detail-card */

.image {
  padding-left: 20px;
  width: 11%;
  cursor: pointer;
}

.c-close-icon {
  visibility: hidden;
}

.mcard {
  width: 949px !important;
  border-radius: 4px;
  box-shadow: 0 2px 11px 0 rgba(194, 194, 194, 0.53);
  background-color: #fefefe;
}

.detail-card-title {
  font-size: 20px;
  letter-spacing: 0.14px !important;
}

.detail-card-values-set {
  left: 1em;
}

.c-details-container-card {
  width: 949px;
  top: 2em;
}

.details-card-content {
  width: 949px;
}

.detail-type {
  width: 183.8px;
  height: 19px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
}

.detail-label {
  /* width: 190.8px; */
  height: 19px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.detail-card-logo {
  width: 120px;
  height: 10em;
  width: 10em;
}

.card-detail {
  width: 190.8px;
  height: 19px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0097a9;
}

.count {
  /* width: 107.8px; */
  /* height: 53px; */
  font-family: "Open Sans", sans-serif;
  font-size: 39px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
  /* text-align: center; */
}

.count-label {
  /* width: 139.8px; */
  /* height: 19px; */
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
  /* text-align: center; */
}

/*#endregion detail-card-end */

/*#region ejs-grid */

.e-grid .e-headercell,
.e-grid .e-rowdragheader,
.e-grid .e-detailheadercell {
  background-color: #00263e !important;
  color: #fff !important;
}
#Grid {
  width: 100% !important;
}

.e-crow {
  cursor: pointer;
}

.e-row {
  background-color: #deeff3;
  cursor: pointer;
}

.e-altrow {
  background-color: #f3f8fb;
  cursor: pointer;
}

/*#endregion ejs-grid*/

.step-description-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #5b7f95;
}

.e-pagercontainer {
  /* margin: 0px 33% 0px 35% !important; */
  margin-left: 27.38em !important;
}

.profile-card-container + .e-pager {
  position: relative;
  bottom: 18px;
  width: 88% !important;
}

.e-custom-popup {
  width: 53.875em !important;
  /* width: 604px !important; */
  left: 637px !important;
  top: 100px !important;
}

.custom-pop-sm {
  width: 40.625em !important;
  /* width: 490px !important; */
}

.custom-inline {
  padding-top: 10px !important;
}

/*#endregion Titles*/

/*#region L A B E L S */

.grid-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 0.93;
  letter-spacing: normal;
  color: #033b5c;
}

.grid-link:hover {
  font-weight: bold;
  color: #033b5c;
}

.form-label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1px;
  margin: 10px 0;
  display: block;
  color: #5b7f95;
}

.label-sm-light {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #0097a9;
}

.custom-label-md {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #033b5c;
}

.custom-label-lg {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #033b5c;
  filter: contrast(1);
}

.custom-label-lg-fade {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #5b7f95;
}

.form-description {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 0.1px;
  color: #5b7f95;
}

.form-control-label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #033b5c;
}

.title-20 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #033b5c;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #033b5c;
}

.title-16 {
  font-size: 16px;
}

.c-title-md {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #033b5c;
}

.label-14-source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #033b5c;
}

.label-14-bold-source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #033b5c;
  font-weight: bold;
}

.label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.label-size-12 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label-size-14 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label-20 {
  font-size: 20;
}

.label-bold {
  font-weight: 600;
}

.label-bold-600 {
  font-weight: 600;
}

.row-link:hover {
  text-decoration: underline;
}

.c-toolbar-label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
}

.c-toolbar-status {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #033b5c;
}

.c-playlist-header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.7px;
  color: #033b5c;
  margin-bottom: 0px !important;
}

.c-playlist-title {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.c-video-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #033b5c;
}

.c-video-info {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #5b7f95;
}

.c-footer-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-align: right;
  color: #9b9b9b;
}

/*#endregion L A B E L S */

/*#region PROFILES*/

.profile-card-container {
  width: 1148px;
  padding-right: 173px;
  margin-top: 38px;
  background-color: #ffffff;
}

.custom-profile-card {
  width: 293px;
  /* height: 297px; */
  height: auto;
  border-radius: 4px;
  margin-bottom: 33px;
  box-shadow: 0 2px 11px 0 rgba(91, 127, 149, 0.25);
  background-color: #fefefe;
  /* cursor: pointer; */
  padding: 20px;
}

.e-card-header-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.e-card-header {
  width: 251px !important;
  height: 28.1px;
}

.e-card-content {
  bottom: 6px;
}

/* #region COLORS */

.light-scheme {
  color: #0097a9 !important;
}

.dark-scheme {
  color: #033b5c !important;
}

/* #endregion */

/* .custom-add-container {

} */

.e-card-icon {
  margin-left: 20px;
}

.custom-contact-color {
  color: #0097a9 !important;
  padding-bottom: 100px;
}

.custom-title-color {
  color: #033b5c !important;
}

.company-detail {
  margin-bottom: 9px;
}

.e-card-add-icon {
  width: 97.9px;
  height: auto;
}

/* tab line */

.tab-line {
  width: 100%;
  height: 2px;
  border-bottom: solid 1px rgba(91, 127, 149, 0.25);
}

/*#endregion PROFILES */

/*#region DETAILS CONFIGURATION*/

.gd-configuration-container {
  width: 949px;
  margin-top: 24px;
}

.gd-configuration {
  display: flex;
}

.custom-e-card-title {
  font-size: 16px !important;
  color: #033b5c;
  width: 50%;
  text-align: left;
  align-self: flex-end;
  bottom: 9px;
}

.media-section-label {
  padding-top: 1.9em;
}

/*#endregion DETAILS COMFIGURATION */

/*#region button*/

button {
  padding-left: 0px;
  padding-right: 0px;
  background: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  line-height: normal;
  outline: none !important;
}

.file-upload-button {
  width: 108px;
  height: 37px;
  object-fit: contain;
  border-radius: 5px;
  border: solid 1px #0097a9;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #0097a9;
}

.file-upload-button:hover {
  background-color: #0097a9;
  color: #ffffff;
}

.file-upload-label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.button-not-allowed {
  cursor: not-allowed;
}

.btn {
  width: 217px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #0097a9;
  background-color: #0097a9;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-align: center;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.button-float-right {
  float: right;
  margin-bottom: 15px !important;
}

.button-plain {
  padding: 7px 16px;
  border-radius: 4px;
  border: solid 1px #0097a9;
  background-color: #0097a9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-plain:disabled {
  background: #5b7f95 !important;
  cursor: not-allowed;
}

.button-plain:active {
  transform: scale(0.97);
}

.button-default {
  padding: 9px 36px;
  border-radius: 8px;
  border: solid 1px #0097a9;
  background-color: #0097a9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #fff;
}

.button-default:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.button-default:active {
  transform: scale(0.97);
}

.button-no-outline {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  color: #0097a9;
  filter: contrast(1);
}

.button-round {
  background: #0097a9 !important;
  color: #ffffff !important;
  text-transform: initial !important;
  padding: 11px 42px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  font-family: "Open Sans", sans-serif;
  border: 0.5px solid transparent !important;
  letter-spacing: 1.2px;
  text-align: center;
  border-radius: 24px !important;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-square {
  border-radius: 6px !important;
  font-family: "Open Sans", sans-serif;
}

.button-round:hover {
  background: #fff !important;
  border: 0.5px solid #0097a9 !important;
  color: #0097a9 !important;
}

.button-round:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button-round:active {
  transform: scale(0.97);
}

.button-round-sm {
  background: #0097a9 !important;
  color: #ffffff !important;
  padding: 4px 18px;
  font-size: 13px !important;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  border: 0.5px solid transparent !important;
  letter-spacing: 1.2px;
  text-align: center;
  border-radius: 24px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-round-sm:hover {
  background: #fff !important;
  border: 0.5px solid #0097a9 !important;
  color: #0097a9 !important;
}

.button-round-sm:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button-round-sm:active {
  transform: scale(0.97);
}

.button-round-lg {
  background: #0097a9 !important;
  color: #ffffff !important;
  padding: 8px 70px;
  font-size: 20px !important;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: 0.5px solid transparent !important;
  letter-spacing: 1.2px;
  text-align: center;
  border-radius: 24px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-round-lg:hover {
  background: #fff !important;
  border: 0.5px solid #0097a9 !important;
  color: #0097a9 !important;
}

.button-round-lg:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button-round-lg:active {
  transform: scale(0.97);
}

.button-no-outline:disabled {
  cursor: not-allowed;
  color: #5b7f95;
}

.button-sort {
  text-transform: initial !important;
  color: #ffffff !important;
  background: #0097a9 !important;
  display: inline-block;
  padding: 10px 18px 8px 50px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-sort[disabled] {
  background: #5b7f95 !important;
  cursor: not-allowed;
}

.button-sort::before {
  content: url("./assets/images/icon-sort-up-down.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -32px;
  border: none;
  border-radius: 4px;
}

.button-attachment-transparent {
  color: #0097a9 !important;
  background: transparent !important;
  display: inline-block;
  padding: 0px !important;
  margin-left: 30px;
  border: none;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px !important;
  font-weight: normal;
  filter: contrast(1);
}

.logo-margin {
  margin-right: 2em !important;
}

.button-attachment-transparent[disabled] {
  cursor: not-allowed;
}

.button-attachment-transparent::before {
  content: url("./assets/images/noun-attachment.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: 1px 0px 0 -30px;
}

.button-check {
  text-transform: initial !important;
  color: #ffffff !important;
  background: #033b5c !important;
  display: inline-block;
  padding: 8px 18px 10px 50px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-check[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.button-check::before {
  content: url("./assets/images/icon-resolved.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -32px;
  border: none;
  border-radius: 4px;
}

.button-plus {
  text-transform: initial !important;
  color: #ffffff !important;
  background: #0097a9 !important;
  display: inline-block;
  padding: 10px 18px 8px 50px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-plus[disabled] {
  background: #5b7f95 !important;
  cursor: not-allowed;
}

.button-plus::before {
  content: url("./assets/images/plus-icon.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -32px;
  border: none;
  border-radius: 4px;
}

.button-plus-transparent {
  text-transform: initial !important;
  color: #0097a9 !important;
  background: transparent !important;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.button-plus-transparent:active {
  transform: scale(0.97);
}

.button-plus-transparent:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.button-plus-transparent::before {
  content: url("./assets/images/icon-plus-circle-white.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -28px;
  border: none;
  border-radius: 4px;
}

.button-plus-m {
  font-family: "Open Sans", sans-serif;
  text-transform: initial !important;
  color: #ffffff !important;
  background: #0097a9 !important;
  display: inline-block;
  padding: 12px 18px 8px 15px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-plus-m[disabled] {
  background: #5b7f95 !important;
  cursor: not-allowed;
}

.button-plus-m::before {
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -32px;
  border: none;
  border-radius: 4px;
}

.button-plus-m-transparent {
  text-transform: initial !important;
  color: #0097a9 !important;
  background: transparent !important;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.button-plus-m-transparent:active {
  transform: scale(0.97);
}

.button-plus-m-transparent:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.button-plus-m-transparent::before {
  content: url("./assets/images/icon-plus-circle-white.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -28px;
  border: none;
  border-radius: 4px;
}

.button-db {
  text-transform: initial !important;
  color: #ffffff !important;
  background: #0097a9 !important;
  display: inline-block;
  padding: 10px 18px 8px 50px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-db[disabled] {
  background: #5b7f95 !important;
  cursor: not-allowed;
}

.button-db::before {
  content: url("./assets/images/icon-db.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -32px;
  border: none;
  border-radius: 4px;
}

.button-w-attach {
  text-transform: initial !important;
  color: #0097a9 !important;
  background: #f3f8fb !important;
  display: inline-block;
  padding: 10px 15px 8px 36px !important;
  margin: 5px;
  border: none;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  filter: contrast(1);
}

.button-w-attach[disabled] {
  cursor: not-allowed;
}

.button-w-attach::before {
  content: url("./assets/images/noun-attachment.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -25px;
  border: none;
  border-radius: 4px;
}

.button-wo-add {
  text-transform: initial !important;
  color: #ffffff !important;
  background: #0097a9 !important;
  display: inline-block;
  padding: 10px 15px 8px 15px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.button-wo-add[disabled] {
  background: #adf0f8 !important;
  color: #ffffff !important;
}

.button-grid-link {
  text-decoration: underline;
  color: #0097a9;
}

.c-button-add {
  text-transform: initial !important;
  color: #0097a9 !important;
  background: transparent !important;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.c-button-add:active {
  transform: scale(0.97);
}

.c-button-add:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.c-button-add::before {
  content: url("./assets/images/icon-plus-circle-white.svg") !important;
  font-size: 20px;
  position: absolute;
  margin: -2px 0 0 -28px;
  border: none;
  border-radius: 4px;
}

.c-button-update {
  text-transform: initial !important;
  color: #0097a9 !important;
  background: transparent !important;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.c-button-update:active {
  transform: scale(0.97);
}

.c-button-update:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.c-button-update::before {
  content: url("./assets/images/icon-update.svg") !important;
  position: absolute;
  margin: 4px 0 0 -20px;
  border: none;
  border-radius: 4px;
}

.c-button-cancel {
  text-transform: initial !important;
  color: #0097a9 !important;
  background: transparent !important;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.c-button-cancel:active {
  transform: scale(0.95);
}

.c-button-cancel:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.c-button-cancel::before {
  content: url("./assets/images/icon-cancel.svg") !important;
  position: absolute;
  margin: 6px 0 0 -20px;
  border: none;
  border-radius: 4px;
}

.c-button-cancel-outline-none {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #0097a9;
  filter: contrast(1);
  margin-left: 30px;
}

.c-button-cancel-outline-none:active {
  transform: scale(0.97);
}

/*****#endregion******/

/*#region sidemenu*/

.p-top {
  padding-top: 1.563em;
}

.p-left {
  padding-left: 1.563em;
}

.p-right {
  padding-right: 1.206em;
}

/* .e-pager {
  width: 88% !important;
  margin-bottom: 20px;
} */

.side-menu-section {
  width: 292px;
  background-color: #eaf1f2;
}

#sample-list {
  overflow-y: auto;
  max-height: 70em;
}

.sb-title {
  height: 34px !important;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Viga", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.68px;
  color: #4a4a4a;
}

.c-leftnav {
  font-family: "Open Sans", sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  letter-spacing: normal;
  color: #5b7f95;
  text-align: left;
  cursor: pointer;
  filter: contrast(1);
  height: 45px;
}

.c-leftnav-menu:hover {
  background-color: #ffffff;
}

.c-leftnav-menu-active {
  color: #033b5c;
  background-color: #ffffff;
}

.search-container {
  left: 15px;
  width: 87% !important;
  background-color: #ffffff !important;
  border: solid 1px rgba(91, 127, 149, 0.25) !important;
  border-radius: 4px !important;
}

.e-search-icon:before {
  content: "\e993";
}

.e-search-icon {
  color: gray;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  width: 16.2px;
  height: 16.2px;
  color: #0097a9;
}

.c-leftnav-submenu {
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  font-weight: normal;
  letter-spacing: -0.1px;
  color: #5b7f95;
  padding: 15px 30px;
  text-align: left;
  cursor: pointer;
  filter: contrast(1);
}

.c-leftnav-submenu:hover {
  background-color: #f3f8fb;
}

.c-leftnav-submenu-active {
  font-weight: 600;
  box-shadow: inset -1px 0 0 0 #ebebeb;
  background-color: rgba(0, 151, 169, 0.09);
  color: #033b5c;
}

.c-leftnav-link:hover {
  background-color: #ffffff;
}

.c-leftnav-link-active {
  box-shadow: inset -1px 0 0 0 #ebebeb;
  background-color: #ffffff;
  color: #033b5c;
}

ul {
  list-style: none;
  padding-left: 0;
}

#nameInput {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #5b7f95;
}

.search-textbox-qa {
  text-align: center;
}

.search-textbox-qa::-webkit-input-placeholder {
  color: #0097a9;
  font-family: FontAwesome;
}

.search-textbox-qa::-moz-placeholder {
  color: #0097a9;
  font-family: FontAwesome;
}

.search-textbox-qa:-ms-input-placeholder {
  color: #0097a9;
  font-family: FontAwesome;
}

/*#endregion*/

/*#notificationRegion*/

.c-notification-name-label {
  width: 139px !important;
  letter-spacing: normal !important;
  color: #033b5c;
  margin-bottom: 19px;
}

.notification-label {
  width: 97px;
  height: 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #5b7f95;
}

.notification-text-here {
  width: 100%;
  height: 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #033b5c;
  margin-top: 14px;
}

.notification-description {
  width: 579px;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
  margin-top: 24px;
}

.nodification-card {
  width: 220px;
  height: 120px;
  margin-bottom: 20px;
}

.nodification-img {
  width: 220px;
  height: 120px;
}

.notification-attachment-text {
  width: 127px;
  height: 36px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0097a9;
  cursor: pointer;
  text-decoration: underline;
}

/*#endnotificationRegion*/

/*#region Dialog */

.e-dlg-content {
  background: #ffffff !important;
}

.e-dlg-content::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #ccd8e1;
}

.e-dlg-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccd8e1;
}

.e-dlg-content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #0097a9;
}

.dialog-header-container img {
  float: right;
  cursor: pointer;
}

.dialog-header-container label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #033b5c !important;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 12px;
  display: block;
}

.dialog-header-container hr {
  height: 2px;
  margin: 16px;
  border-top: solid 1px rgba(91, 127, 149, 0.25);
}

.dialog-content {
  margin: 0px 16px;
}

.dialog-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #033b5c !important;
  font-weight: 600;
  margin: 0 auto;
  display: block;
}

.dialog-close {
  float: right;
  cursor: pointer;
}

.dialog-list {
  padding: 12px 16px !important;
  margin: 0px 16px;
  border-bottom: 1px solid rgba(91, 127, 149, 0.25);
}

.dialog-list-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #033b5c;
}

.dialog-list-item-checked {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #033b5c;
  font-weight: bold;
}

/*#endregion */

/************Control Label**********/

button {
  padding-left: 0px;
  padding-right: 0px;
  background: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  line-height: normal;
  outline: none !important;
}

.media-label {
  color: #033b5c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  line-height: normal;
}

.media-button-small {
  color: #5b7f95;
}

/* profile list */

.storage-text {
  margin-top: 6px;
  width: 139px;
  height: 19px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
}

.dropdown-box {
  width: 78px;
  height: 34px;
  border-radius: 4px;
  border: solid 1px #5b7f95;
  background-color: #ffffff;
}

.input-box {
  width: 39px;
  height: 34px;
  border-radius: 4px;
  border: solid 1px #5b7f95;
  background-color: #ffffff;
}

.form-control {
  color: #033b5c !important;
  font-family: "Open Sans", sans-serif !important;
}

.custom-form-control-sm {
  width: 100% !important;
  height: 38px !important;
  padding: 7px 12px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  display: inline-block !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  border: solid 1px #5b7f95 !important;
  color: #033b5c !important;
  background-color: #ffffff !important;
}

.input-style {
  padding: 8px !important;
  width: 70px !important;
  height: 38px !important;
}

/************End Controls**********/

/*#region FORMS */

.custom-form-control {
  width: 100% !important;
  height: auto !important;
  padding: 7px 14px !important;
  font-size: 16px !important;
  display: inline-block !important;
  border-radius: 1px !important;
  box-sizing: border-box !important;
  border: solid 1px rgba(91, 127, 149, 0.25) !important;
  color: #033b5c !important;
  background-color: #ffffff !important;
}

.custom-form-control .e-input-group,
.custom-form-control .e-input-group.e-control-wrapper {
  font-family: "Open Sans", sans-serif !important;
  color: #033b5c !important;
}

.custom-form-control:focus,
.custom-form-control:active,
.custom-form-control-sm:focus,
.custom-form-control-sm:active,
.custom-form-control-lg:focus,
.custom-form-control-lg:active {
  outline: 0 !important;
  /* apply other styles */
  outline: 2px solid rgba(91, 127, 149, 0.25) !important;
  border-radius: 4px !important;
  box-shadow: 0 0 0 0.2rem rgba(91, 127, 149, 0.25) !important;
}

.custom-form-control.is-invalid:focus,
.was-validated .custom-form-control:invalid:focus,
.custom-form-control-sm.is-invalid:focus,
.was-validated .custom-form-control-sm:invalid:focus,
.custom-form-control-lg.is-invalid:focus,
.was-validated .custom-form-control-lg:invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.custom-form-control.disabled {
  cursor: not-allowed;
  background-color: #c5d3da !important;
}

.custom-form-control.disabled span {
  cursor: not-allowed;
  color: #033b5c !important;
}

.custom-form-control-sm {
  width: 100% !important;
  height: auto !important;
  padding: 7px 12px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  display: inline-block !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  border: solid 1px #5b7f95 !important;
  color: #033b5c !important;
  background-color: #ffffff !important;
}

.custom-form-control-sm .e-input-group input.e-input,
.custom-form-control-sm .e-input-group.e-control-wrapper input.e-input,
.custom-form-control-sm .e-input-group textarea.e-input,
.custom-form-control-sm .e-input-group.e-control-wrapper textarea.e-input {
  font-size: 12px !important;
  font-weight: 600 !important;
  font-family: "Open Sans", sans-serif !important;
}

.custom-form-control-sm::placeholder,
.custom-form-control-sm .e-input-group input.e-input::placeholder,
.custom-form-control-sm
  .e-input-group.e-control-wrapper
  input.e-input::placeholder,
.custom-form-control-sm .e-input-group textarea.e-input::placeholder,
.custom-form-control-sm
  .e-input-group.e-control-wrapper
  textarea.e-input::placeholder {
  color: #5b7f95 !important;
}

.custom-form-control-lg {
  width: 100% !important;
  height: auto !important;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  font-size: 16px !important;
  display: inline-block !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  border: solid 1px rgba(91, 127, 149, 0.25) !important;
  color: #033b5c !important;
  background-color: #ffffff !important;
}

.form-control {
  color: #033b5c !important;
}

.form-control:disabled,
.form-control[readonly],
.form-control.readonly {
  cursor: not-allowed;
  background-color: #c5d3da !important;
}

.form-control-input {
  height: 38px;
  border-radius: 2px;
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
}

.o-delete {
  margin-top: 7px;
  color: #0097a9;
}

.o-delete > span {
  font-size: 1.2em;
}

.e-input-focus:focus {
  border-bottom: none !important;
  outline: none !important;
}

.e-input-focus:focus .e-input-focus::after {
  border-bottom: none !important;
  outline: none !important;
}

.e-input-focus:focus .e-input-focus::before {
  border-bottom: none !important;
  outline: none !important;
}

.e-icon-anim {
  border-bottom: none !important;
  outline: none !important;
  border: none !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #000;
  opacity: 0.5;
}

/*#endregion FORMS */

/*Targeting IE */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .image {
    padding-bottom: 6px !important;
  }
  .e-form {
    margin-top: 20px !important;
  }
}
/*Targeting IE End */

/* #region SYNCFUSION DROP DOWN */

.custom-form-control-sm.e-dropdownlist {
  padding: 5.9px 12px !important;
}

.e-input-group .e-input-group-icon.e-ddl-icon,
.e-input-group.e-control-wrapper .e-input-group-icon.e-ddl-icon {
  margin: 2px 0px 0px 0px !important;
}

.custom-form-control .e-input-group.e-control-wrapper.e-ddl {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px !important;
  color: #033b5c !important;
  border-bottom: 0px !important;
  margin: 0px !important;
}

.custom-form-control-sm .e-input-group.e-control-wrapper.e-ddl {
  font-family: "Open Sans", sans-serif !important;
  font-size: 12px !important;
  color: #033b5c !important;
  border-bottom: 0px !important;
  margin: 0px !important;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after {
  background: none !important;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before {
  background: none !important;
}

.custom-ddl .e-input-group.e-control-wrapper.e-ddl {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px !important;
  color: #5b7f95 !important;
  margin: 0px !important;
  padding-bottom: 8px;
}

.custom-ddl .e-ddl.e-input-group.e-control-wrapper .e-clear-icon {
  margin: 0px !important;
  padding: 0px !important;
}

/* #endregion */
