<div class="container">
  <br />
  <!-- #region Database -->
  <div>
    <label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Database </label>
    <button type="button" class="button-db float-right migrate-db-qa" (click)="migrateDB()">
      Migrate Database
    </button>
  </div>
  <br>
  <form [formGroup]="databaseForm">
    <label class="form-label"> Connection String </label>
    <textarea #connectionStringInput class="form-control custom-form-control" row="4" placeholder=""
      formControlName="connectionString" spellcheck="false"></textarea>
    <app-buttons [buttons]="dbButtons" spacing="30"></app-buttons>
  </form>
  <br><br>
  <!-- #endregion -->

  <!-- #region Configuration Settings -->
  <div>
    <label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Configuration Settings </label>
    <button class="button-plus float-right add-configuration-button-qa" (click)="onCreate()">
      Add Configuration
    </button>
  </div>
  <br>
  <div>
    <app-list [dataSource]="configurationSettings$ | async" allowSorting [columns]="columns" [allowGridPaging]="true"
      [allowSearch]="true" (edit)="onEdit($event)">
    </app-list>
  </div>
  <app-modal #confirmModal type="confirm" title="Confirm Delete" [message]="deleteMessage"
    (yes)="removeConfiguration()">
  </app-modal>
  <ejs-dialog #configurationSettingDialog [visible]="false" [width]='500' isModal='true'>
    <ng-template #content>
      <form [formGroup]="configurationForm">
        <div class="dialog-header-container">
          <img (click)="closeDialog()" src="./assets/images/dialog-close.svg" />
          <label>
            {{ isEdit ? 'Change Configuration Settings': 'Add New Configuration Settings' }}
          </label>
          <hr><br>
        </div>
        <div class="dialog-content">
          <div class="row pt-3">
            <div class="col-md-3">
              <label class="media-label pt-3 custom-inline"> Key: </label>
            </div>
            <div class="col-md-8">
              <ejs-dropdownlist class="form-control custom-form-control"
                [dataSource]='isEdit ? configurationKeys : unSetConfigurationKeys' placeholder='Select a Key'
                [fields]="fields" formControlName="key" [readonly]="isEdit" [ngClass]="{
                'is-invalid': configurationForm.get('key').touched && configurationForm.get('key').dirty && !configurationForm.get('key').valid,
                'readonly':  isEdit
              }">
              </ejs-dropdownlist>
            </div>
          </div>
          <br>

          <div class="row pt-3" style="padding-top: 5px !important;">
            <div class="col-md-3">
              <label class="media-label pt-3 custom-inline"> Value: </label>
            </div>
            <div class="col-md-8">
              <input class="form-control custom-form-control" type="text" placeholder='Enter a value'
                [ngClass]="{'is-invalid': (configurationForm.get('value').touched || configurationForm.get('value').dirty) && !configurationForm.get('value').valid }"
                formControlName="value">
              <span class="invalid-feedback">
                <h5 class="form-description"> Please enter a value. </h5>
              </span>
            </div>
          </div>
          <br><br>
          <div class="text-center form-group">
            <button class="button-round" (click)="saveConfiguration()"
              [disabled]="!configurationForm.valid || !configurationForm.dirty">
              SAVE CHANGES
            </button>
          </div>
          <br>
        </div>
      </form>
    </ng-template>
  </ejs-dialog>
  <br>
  <!-- #endregion -->

  <!-- #region Permissions -->
  <div>
    <label class="custom-label-md" style="margin: 8px 0px 0px 0px"> Menu Permissions </label>
    <app-company-permissions [companyId]="currentCompanyId"></app-company-permissions>
  </div>
  <!-- #endregion -->
</div>